.q1 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}
.q2 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}